.row
  .col-lg-4.col-xs-1
  .col-lg-4.col-xs-10
    .login-content.text-center
      = render "devise/shared/login_logo"
      .login-form
        %h4 Sign up
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field.text-field
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email'
          .field.text-field
            = f.password_field :password, autocomplete: "new-password", placeholder: 'Password'
          .field.text-field
            = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Validate Password'
          %p.terms-of-use
            By Contuning, I acknowledge that I have read and agree to the
            %br
            %span Terms of use
          .actions
            = f.submit "Sign up"

          = render "devise/shared/links"

          = render "devise/shared/powered_by"

  .col-lg-4.col-xs-1
