.row
  .col-lg-4.col-xs-1
  .col-lg-4.col-xs-10
    .login-content.text-center
      = render "devise/shared/login_logo"
      .login-form
        %h4 Forgot password
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          = render "devise/shared/error_messages", resource: resource
          .field.text-field
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email'
          .actions
            = f.submit "Reset Password"
        = render "devise/shared/links_in_line"
        = render "devise/shared/powered_by"
  .col-lg-4.col-xs-1
