.row.welcome-page
  .col-sm-6.home-page
    .welcome-screen
      - if current_user
      - else
        .watch-logo-text Watch Tranfer
        .welcome-text Welcome
        .tag-line We make it easy to use, share in a safe manner !
        .welcome-description
          Not all watches are created equal. In fact, some are in a league of their own. Combining impressive craftsmanship with a stylish aesthetic, luxury watches are so much more than simple accessories; they’re wearable works of art. As such, it’s no wonder why names like Rolex stir a certain feeling in not only watch enthusiasts but just about everyone.
    .welcome-buttons
      - if current_user
        %br/
      - else
        = link_to new_user_registration_path do
          %button.btn.btn-lg{:type => "button"} Sign up
        = link_to new_user_session_path do
          %button.btn.btn-lg{:type => "button"} Sign in
  .col-sm-6.home-page-image
