.row
  .col-lg-4.col-xs-1
  .col-lg-4.col-xs-10
    .login-content.text-center
      = render "devise/shared/login_logo"
      .login-form
        %h4 Login

        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          = render 'layouts/alerts'

          .field.text-field
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email'
          .field.text-field
            = f.password_field :password, autocomplete: "current-password", placeholder: 'Password'
          - if devise_mapping.rememberable?
            .field.checkbox-field
              = f.check_box :remember_me
              = f.label :remember_me
          .forgot-password-link
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              = link_to "Forgot your password?", new_password_path(resource_name)

          .actions
            = f.submit "Login"

        %p.sign-up-text
          = "Don't have an account?"
        = render "devise/shared/links"

        = render "devise/shared/powered_by"

  .col-lg-4.col-xs-1
