html, body {
  height: 100%;
  margin: 0;
  font-family: Lato;
}

.welcome-page {
  height: 100%;

  .home-page {
      margin-top: 300px;
      .welcome-screen {
        margin: 0px 53px 36px 116px;
        .watch-logo-text {
          font-size: 24px;
          font-weight: 900;
          font-style: italic;
          font-stretch: normal;
          line-height: 1.04;
          letter-spacing: normal;
          text-align: left;
          color: #05153b;
        }
        .welcome-text {
          font-size: 78px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.03;
          letter-spacing: normal;
          text-align: left;
          color: #e5cc0c;
        }
        .tag-line {
          font-size: 24px;
          font-weight: 900;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.04;
          letter-spacing: normal;
          text-align: left;
          color: #b3b8c3;
        }
        .welcome-description {
          margin: 60px 0px 30px 0px;
          font-size: 18px;
          font-weight: 500;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.44;
          letter-spacing: 0.9px;
          text-align: left;
          color: #b3b8c3;
        }
      }
      .welcome-buttons {
        margin: 0px 0px 0px 116px;
        a {
          text-decoration: none;
          .btn {
            width: 149.1px;
            background-color: #000000;
            font-size: 15px;
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.8;
            letter-spacing: normal;
            text-align: center;
            color: #ffffff;
          }
        }
      }
  }
  .home-page-image {
    height: 100%;
    background-image: url('luxury watches/bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
