%nav.navbar.navbar-fixed-top.bloxsure-nav
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => devices_path}
        = image_tag 'common/bloxure-black-logo.svg'

    %ul.nav.navbar-nav.navbar-right
      - if current_user
        %li.dropdown.user
          %a.dropdown-toggle{"data-toggle" => "dropdown", :href => ""}
            %span.profile-pic-nav.glyphicon.glyphicon-user
            #{current_user.username}
          %ul.dropdown-menu
            %li
              %a{:href => "#"} Profile
            %li.divider
            %li.logout
              = link_to 'Logout', destroy_user_session_path, method: :delete
